extends layout 

block content 

    h1 Author: #{author.name}
    p #{author.lifespan}

    div(style= "margin: 20px 0 0 20px")

        h4 Books 

        dl 
            each book in books 
                dt 
                    a(href=book.url) #{book.title} 
                dd #{book.summary}
            else 
                p This author has no books in this library.

    hr
    p 
        a(href=author.url + "/delete") Delete author