extends layout 

block content 

    h1 #{title}: #{book.title}
    p= book.summary
    p= book.isbn

    if bookInstances.length > 0

        p #[strong Delete the following book instances before attempting to delete this book]

        div(style="margin: 20px 0 0 20px")

            h4 Book Instances 

            dl 
            for instance in bookInstances
                dt 
                    a(href=instance.url) #{instance.id}
                dd #{instance.imprint}
                dd 
                    if instance.status === "available"
                        p.text-success #{instance.status}
                    else if instance.status === "maintenance"
                        p.text-danger #{instance.status}
                    else
                        p.text-warning #{instance.status}

    else 
        p Do you really want to delete this book?

        form(method="POST")
            div.for-group
                input#book-id.form-controller(type="hidden" name="bookId" required value=book._id)

            button.btn.btn-primary(type="submit") Delete